a {
    color: #59C1BD;
    text-decoration: none;
}
a:hover
{
    color: #0E5E6F;
    text-decoration: underline;
}
body{
    background-color: #DEF5E5;
}
hr{
    border-top-style: dotted;
    border-left-style: none;
    border-right-style: none;
    border-bottom-style: none;
    border-color: #8EC3B0;
    border-width: 7px;
    width: 7%;
}

#jk_pic{
    border: 5px solid #0E5E6F;
    outline: 8px solid #8EC3B0;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#thala,h2,h4,h3,h5,h6{
    color: #0E5E6F;
}
p{
    text-align: center;
}

.maha{
    text-decoration: underline;
}
